<!DOCTYPE html>
<html>
<head>
  <title>Shekar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="headerbg">
  <div id="headerblank">
    <div id="header">
      <div id="menu">
        <%= render :partial => 'membership/menu' %>
      </div>
      <div id="login">
      <%= ApplicationHelper::Mytime %>
      </div>
    </div>
  </div>
</div>
<div id="contentbg">
  <div id="contentblank">
    <div id="content">
      <div id="contentleft">
        <%= render :partial => "membership/newsupdate" %>
        <div id="leftnavheading">
          <h4>Resources</h4>
        </div>
        <div id="leftnav">
          <ul>
            <li><a href="#" class="leftnav">Mauris neque egestas justo </a></li>
            <li><a href="#" class="leftnav">Neque eros a nequestibulum </a></li>
            <li><a href="#" class="leftnav">Primis in faucibus orci luctus </a></li>
            <li><a href="#" class="leftnav">Posuere cubilia Curae </a></li>
            <li><a href="#" class="leftnav">Ulla risus risus sagittis in </a></li>
            <li><a href="#" class="leftnav">Lobortis sed tincidunt at est.</a></li>
            <li><a href="#" class="leftnav">Donec posuere egestas ipsum</a></li>
            <li><a href="#" class="leftnav">Cras ac magna vel justo </a></li>
            <li><a href="#" class="leftnav">Sollicitudin viverra. </a></li>
            <li><a href="#" class="leftnav">Nullam elementum nibh ut </a></li>
          </ul>
        </div>
      </div>
      <div id="contentmid">
        <%= yield %>
      </div>
      <div id="contentright">

    <%= render :partial => "membership/contentright" %>
    <%= render :partial => 'membership/creativestory' %>
</div>
<div id="footerbg">
  <div id="footerblank">
    <div id="footer">
      <div id="footerbox">
        <div class="footerheading"><h4>Tempus</h4></div>
        <div class="footertxt">Donec posuere bibendum erat.  commodo consectetuer tellus. Ut ut tellus eget</div>
        <div class="footerbutton"><a href="#" class="button">read more</a></div>
      </div>
      <div id="footermid"><div class="footerheading"><h4>Neque</h4></div>
      <div class="footertxt">Neque nisl porttitor dolor, ut posuere nibh lectus vel pede. Nam non elit.</div>
      <div class="footerbutton"><a href="#" class="button">read more</a></div>
      </div>
      <div id="footerlast">
        <div class="footerheading">
          <h4>Curabitur</h4>
        </div>
        <div class="footertxt">Eque nisl porttitor dolor, ut posuere nibh lectus vel pede. Nam non elit. </div>
        <div class="footerbutton"><a href="#" class="button">read more</a></div>
      </div>
      <div id="footerlinks"><a href="#" class="footerlinks">Home</a> | <a href="#" class="footerlinks">About Us</a> | <a href="#" class="footerlinks">Support</a> | <a href="#" class="footerlinks">Forum</a> | <a href="#" class="footerlinks">Development</a> | <a href="#" class="footerlinks">Conact Us</a></div>
      <div id="copyrights">© Copyright Information Goes Here. All Rights Reserved.</div>
      <div id="designedby">Designed by <a href="http://www.templateworld.com" target="_blank" class="designedby">TemplateWorld</a> and brought to you by <a href="http://www.smashingmagazine.com" target="_blank" class="designedby">SmashingMagazine</a></div>
      <div id="validation"><a href="http://validator.w3.org/check?uri=referer" class="xhtml">xhtml</a><a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">css</a></div>
    </div>
  </div>
</div>
</body>
</html>
